<style>
        table.history, table.history td, table.history th {
            text-align: center;
            vertical-align: middle;
        }

        table.history {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
<table class="history">
    <tr valign="top" style="width=100%;">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <td>Temp1:<br>{{ post.temp1 }}</td>
        <td>Time1:<br>{{ post.time1 }}</td>
        <td>Temp2:<br>{{ post.temp2 }}</td>
        <td>Time2:<br>{{ post.time2 }}</td>
        <td>Submit on:<br>{{ moment(post.time_submit).format('LLL') }}</td>
        <td>Comment:<br>{{ post.comment }}</td>
        {% if post.status == 1 %}
        <td>Status:<br>on</td>
        {% else %}
        <td>Status:<br>off</td>
        {% endif %}
        <td><a href="">Turn off</a></td>
    </tr>
</table>