<!-- <tr>
  <td>
          <img src="chart.jpg" alt="Mô tả ảnh" style="width: 1000px; height: 500px;">
  </td>
  <td>
    <h2>History</h2>
    <table class="table table-bordered custom-table">
      <thead>
        <tr>
          <th>Sample (No.)</th>
          <th>Temperature (℃)</th>
          <th>Duration (mins)</th>
          <th>Pressure (MPa)</th>
          <th>Area (cm²)</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">1</td>
          <td>100</td>
          <td>20</td>
          <td>100</td>
          <td>22</td>
          <td>Good</td>
        </tr>
        <tr>
          <td>85</td>
          <td>40</td>
          <td></td>
          <td></td>
          <td>Oke</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr> -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>