{% extends "base.html" %} {% block content %}
<style>
  .dashboard {
    padding: 24px 14px 0;
  }
  .dashboard-tile {
    padding: 18px 14px;
  }
  .row-gap-6 {
    row-gap: 18px;
  }
  .column {
    width: calc(95%/2); /* Adjust the width as needed */
  }
  .column:first-child {
    flex: 0 0 5%; 
  }

  .container-fluid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  .avatar {
    max-width: 100px;
    height: auto;
  }

  .container-fluid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
  }

  .custom-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-card-image {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .custom-card-body {
    flex: 1;
    overflow: auto;
    padding: 10px;
    word-wrap: break-word;
  }

  .custom-table {
    width: 100%;
    white-space: normal;
  }
  .form-footer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="d-flex text-white bg-dark dashboard">
  <div class="d-flex flex-column row-gap-6 column border-white border dashboard-tile">
        <div class="border border-success">
          <h2>Instruction</h2>
          <p>Sintering machine operation process:</p>
          <p>- Start the machine</p>
          <p>
            - Enter the parameters about time, temperature, and force of each
            period.
          </p>
          <p>
            - After sending the information, the machine will perform the
            process according to these parameters.
          </p>
          <p>
            - Notifications are sent when completing each period or finishing
            work.
          </p>
          <p>- You can stop operation during the process.</p>
        </div>
        <button class="btn btn-outline-success" id="historyButton" data-toggle="modal" data-target="#exampleModalLong">
            HISTORY
        </button>
  </div>
  <div class="column border-white border">
    <div class="custom-card">
      <div class="custom-card-body">
            <h4>INPUT PARAMETER</h4>
        <table class="table table-bordered custom-table  table-dark">
          <thead>
            <tr>
              <th>Sample (No.)</th>
              <th>Temp (℃)</th>
              <th>Duration (min)</th>
              <th>Pressure (MPa)</th>
              <th>Area (mm²)</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <form id="sinteringForm">
                <input name="username" type="hidden" value="{{ current_user.username }}"/>
              <td rowspan="2">
                <input type="text" class="form-control" name="sample1" />
              </td>
              <td><input type="text" class="form-control" name="temp1" /></td>
              <td><input type="text" class="form-control" name="duration1" /></td>
              <td>
                <input type="text" class="form-control" name="pressure1" />
              </td>
              <td><input type="text" class="form-control" name="area1" /></td>
              <td rowspan="2">
                <input type="text" class="form-control" name="comment1" />
              </td>
            </tr>
            <form>
              <td><input type="text" class="form-control" name="temp2" /></td>
              <td><input type="text" class="form-control" name="duration2" /></td>
              <td></td>
              <td></td>
<!--              <td>-->
<!--                <input type="text" class="form-control" name="comment2" />-->
<!--              </td>-->
              </form>
            </tr>
          </tbody>
        </table>
        <div class="form-footer">
          <button class="btn btn-primary submit-button">Submit</button>
        </div>
      </div>
    </div>

    <div id="plotImageContainer" class="d-flex justify-content-center">
      </div>
  </div>

  <div class="column border-white border">
    <div class="custom-card">
      <div class="custom-card-body">
        <table class="table table-striped table-bordered table-hover table-dark p-0 m-0">
        <thead >
            <tr>
        <th class="d-flex justify-content-center">REAL TIME PARAMATER</th>
            </tr>
        </thead>
        </table>
        <table class="table table-striped table-bordered table-hover custom-table table-dark" id="realTimeParam">
           <thead >
              <tr>
                <th>Force</th>
                <th>Temp(°C)</th>
                <th>Period</th>
                <th>Time left</th>
              </tr>
            </thead>
            <tbody>
              <tr id="realTimeParam-row">
               
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="text-body border w-100 table">
            <thead>
                <tr>
                    <th>Sample</th>
                    <th>Temp 1</th>
                    <th>Duration 1</th>
                    <th>Pressure 1</th>
                    <th>Area 1</th>
                    <th>Comment</th>
                    <th>Temp 2</th>
                    <th>Duration2</th>
                </tr>
            </thead>
            <tbody id="historyData">
            </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script type = "module" >
  
  const table = document.getElementById("realtimeParam");
  
  function fetchRealTimeParam() {
      // Make a GET request to your API endpoint
      fetch('/api/real-time-param')
          .then(response => response.json())
          .then(data => {
              console.log(data)
              const table = document.getElementById("realTimeParam");
              const existingRow = document.getElementById("realTimeParam-row");
  
              // If an existing row exists, remove it
              if (existingRow) {
                  table.deleteRow(existingRow.rowIndex);
              }
  
              // Create a new row and cells
              const row = table.insertRow();
              row.id = "realTimeParam-row"; // Set an ID for the new row for replacement
  
              // Insert data into the row's cells
              const forceCell = row.insertCell(0);
              const tempCell = row.insertCell(1);
              const periodCell = row.insertCell(2);
              const timeLeftCell = row.insertCell(3);
  
              forceCell.textContent = data.force;
              tempCell.textContent = data.temp;
              periodCell.textContent = data.period;
              timeLeftCell.textContent = data.timeLeft;
          })
          .catch(error => {
              console.error('Error fetching data:', error);
          });
  }
  
  // Call the fetchData function every 1 minute (60,000 milliseconds)
  setInterval(fetchRealTimeParam, 3600000);
  fetchRealTimeParam();
  // Initial data fetch
  // Initialize Firebase
  // Function to submit data to Firebase
  function submitData() {
      var form = document.getElementById("sinteringForm");
  
      // Create a data object from the form inputs
      const formData = {
        sample1: parseFloat(form.sample1.value),
        temp1: parseFloat(form.temp1.value),
        duration1: parseFloat(form.duration1.value),
        pressure1: parseFloat(form.pressure1.value),
        area1: parseFloat(form.area1.value),
        comment1: form.comment1.value,
        temp2: parseFloat(form.temp2.value),
        duration2: parseFloat(form.duration2.value),
        comment2: null,
        time_submit: new Date().toISOString(),
      };
      const data = {
          data: formData,
          user_id: form.username.value,
          time_submit: new Date().toISOString(),
      }
      // Get a reference to the Firebase Realtime Database
      fetch('/api/sinteringForm', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
          })
          .then(response => response.json())
          .then(result => {
              console.log(result);
              // Optionally, you can clear the form fields here
              form.reset();
          })
          .catch(error => {
              console.error('Error:', error);
          });
  
  
      fetch(`/generate_plot?temperature1=${formData.temp1}&temperature2=${formData.temp2}&duration1=${formData.duration1}&duration2=${formData.duration2}&pressure=${formData.pressure1}`)
          .then(response => response.blob())
          .then(blob => {
              const plotImageUrl = URL.createObjectURL(blob);
              const plotImageElement = document.createElement('img');
              plotImageElement.src = plotImageUrl;
              document.getElementById('plotImageContainer').innerHTML = '';
              document.getElementById('plotImageContainer').appendChild(plotImageElement);
          })
          .catch(error => {
              console.error('Error:', error);
          });
  }
  
  // Function to retrieve history from Firebase
  function retrieveHistory() {
      var userId = "{{ current_user.username }}";
  
      // Send a GET request to your Flask API to retrieve the user's history data
  
      fetch('/api/history/' + userId)
          .then(response => response.json())
          .then(historyData => {
              // Display the history data in the table
              var historyDataHtml = '';
              historyData.forEach(data => {
                  console.log(data);
                  if(data) {
                    historyDataHtml += `
                          <tr>
                              <td>${data.sample1 || ''}</td>
                              <td>${data.temp1 || ''}</td>
                              <td>${data.duration1 || ''}</td>
                              <td>${data.pressure1 || ''}</td>
                              <td>${data.area1 || ''}</td>
                              <td>${data.comment1 || ''}</td>
                              <td>${data.temp2 || ''}</td>
                              <td>${data.duration2 || ''}</td>
                          </tr>
                      `;
                  }
               
              });
              document.getElementById('historyData').innerHTML = historyDataHtml;
          })
          .catch(error => {
              console.error('Error:', error);
          });
  }
  
  // Attach event listeners to the buttons
  document.querySelector(".submit-button").addEventListener("click", submitData);
  document.querySelector("#historyButton").addEventListener("click", retrieveHistory); 
  </script>
{% endblock %}
