{% extends "base.html" %}

{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/loginstyle.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="id01" class="modal1">
            <form action="" class="modal-content animate" method="post" novalidate >
                {{ form.hidden_tag() }}
                <div class="imgcontainer">
                    <img src="{{ url_for('static', filename='images/LOGIN.png') }}" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div>
                        {% for message in messages %}
                        <span style="color: red;">[{{ message }}]</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <label for="uname"><b>Username</b></label>
                    {{ form.username(size=32, class="form-control", placeholder="Enter Username", required="required") }}
                    </br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </br>
                    <label for="psw"><b>Password</b></label>
                    {{ form.password(size=32, class="form-control", placeholder="Enter Password", required="required") }}
                    </br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <button type="submit"> Login</button>
                </div>
                <div class="" style="background-color:#f1f1f1; padding: 0 5px">
                    <span class="psw">Click to <a href="{{ url_for('register') }}" style="color:#2C96DC;">Register!</a></span>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
