{% extends "base.html" %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/loginstyle.css') }}" rel="stylesheet">
</head>
<body>

    <div id="id01" class="modal1">

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <img src="{{ url_for('static', filename='images/LOGIN.png') }}" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit"> Login</button></br>
          <label style="padding-top: 20px;">
            <input type="checkbox" checked="checked" name="remember" > Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1; height: 30px; padding-top:5px;">
          <span class="psw">Click to <a href="#" style="color:#2C96DC;">Register!</a></span>
        </div>
      </form>
    </div>
</body>
{% endblock %}